---
firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "Zabbix from Zabbix-server"
        proto: "tcp"
        src: "192.168.88.106/24"
        port: "10050"
      - name: "DNS from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "53"
      - name: "DNS(UDP) from service line"
        proto: "udp"
        src: "192.168.88.0/24"
        port: "53"
      - name: "DHCP from service line"
        proto: "udp"
        src: "0.0.0.0/0"
        port: "67"
      - name: "DHCP Client from service line"
        proto: "udp"
        src: "0.0.0.0/0"
        port: "68"
      - name: "Runner Docker ssh"
        proto: "tcp"
        src: "172.17.0.0/16"
        port: "22"
      - name: "Corosync / pcsdport"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "2224"
      - name: "Corosync / pacemaker"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "3121"
      - name: "Corosync / corosync"
        proto: "udp"
        src: "192.168.88.0/24"
        port: "5404:5412"
      - name: "Kea DHCP HA heartbeat"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "8080:8081"
    ipv6:
      - name: "SSH from service line(IPv6)"
        proto: "tcp"
        src: "{{ ipv6.ula.prefix }}::/48"
        port: '22'
      - name: "DNS from service line(IPv6)"
        proto: "tcp"
        src: "{{ ipv6.ula.prefix }}::/48"
        port: "53"
      - name: "DNS(UDP) from service line(IPv6)"
        proto: "udp"
        src: "{{ ipv6.ula.prefix }}::/48"
        port: "53"
      - name: "DNS from service line(IPv6/LinkLocal)"
        proto: "tcp"
        src: "fe80::/16"
        port: "53"
      - name: "DNS(UDP) from service line(IPv6/LinkLocal)"
        proto: "udp"
        src: "fe80::/16"
        port: "53"
      - name: "DHCPv6 from service line"
        proto: "udp"
        src: "::/0"
        port: "547"
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::/0"
        port: "546"

syslog:
  additional_actions: |
    if ($syslogfacility-text == 'local7') and
      ($msg contains "COMMAND_RECEIVED Received command 'ha-heartbeat'") then {
      stop
    }
