---
- name: "Install rsyslog"
  ansible.builtin.apt:
    pkg: rsyslog
    cache_valid_time: "{{ apt_cache_valid_time }}"
  notify: "Restart rsyslog"

- name: "Make Config directory"
  ansible.builtin.file:
    path: "/etc/rsyslog.d"
    state: directory
    owner: "{{ rsyslog_client_config_owner }}"
    group: "{{ rsyslog_client_config_group }}"
    mode: '0755'

- name: "Install rsyslog Config"
  ansible.builtin.template:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    owner: "{{ rsyslog_client_config_owner }}"
    group: "{{ rsyslog_client_config_group }}"
    mode: '0644'
  loop:
    - src: templates/etc/rsyslog.d/10-hayaworld.conf.j2
      dest: /etc/rsyslog.d/10-hayaworld.conf
    - src: templates/etc/rsyslog.d/00-additional.conf.j2
      dest: /etc/rsyslog.d/00-additional.conf
    - src: roles/rsyslog_client/templates/etc/rsyslog.d/00-default-actions.conf.j2
      dest: /etc/rsyslog.d/00-default-actions.conf
    - src: templates/etc/rsyslog.conf.j2
      dest: /etc/rsyslog.conf
  notify: "Restart rsyslog"

- name: "Suppress to write logs persistent drive on journald"
  community.general.ini_file:
    path: /etc/systemd/journald.conf
    section: "Journal"
    option: "Storage"
    value: "volatile"
    state: present
    no_extra_spaces: true
    mode: "644"
  when: not rsyslog_client_journald_persistent
  notify:
    - "Restart journald"
