---
- name: "Make directory to mount up skylark"
  ansible.builtin.file:
    path: "{{ nextcloud.nfs.dest }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: "Mount up skylark"
  ansible.posix.mount:
    src: "{{ nextcloud.nfs.src }}"
    path: "{{ nextcloud.nfs.dest }}"
    opts: "defaults,async"
    fstype: nfs4
    state: mounted

- name: "Initialize Directories (NextCloud)"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0750'
  loop:
    - "{{ nextcloud.dest.data }}"
    - "{{ nextcloud.dest.config }}"
    - "/root/ds/"

- name: "Initialize Directories (MySQL)"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 999
    group: 'systemd-journal'
    mode: '0750'
  loop:
    - "{{ nextcloud.dest.db }}"

- name: "Put docker-compose.yml"
  ansible.builtin.template:
    src: templates/ds/root/ds/docker-compose.yml.j2
    dest: /root/ds/docker-compose.yml
    owner: root
    group: root
    mode: '0644'
  notify: "Exec NextCloud"

- name: "Set crontab for run cron.php"
  ansible.builtin.cron:
    name: "Set crontab for run cron.php"
    minute: "*/5"
    job: "docker exec --user www-data ds-nextcloud-1 php -f /var/www/html/cron.php"
    cron_file: ds-nextcloud-cron_php
    user: root
  notify: "Restart cron"
  tags:
    - sync
