---
- name: "Make directory to mount up skylark"
  ansible.builtin.file:
    path: "{{ nextcloud.nfs.dest }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0755'

- name: "Mount up skylark"
  ansible.posix.mount:
    src: "{{ nextcloud.nfs.src }}"
    path: "{{ nextcloud.nfs.dest }}"
    opts: "defaults"
    fstype: nfs4
    state: mounted

- name: "Initialize Directories (NextCloud)"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: www-data
    group: www-data
    mode: '0750'
  loop:
    - "{{ nextcloud.dest.data }}"
    - "{{ nextcloud.dest.config }}"
    - "/root/ds/"

- name: "Initialize Directories (MySQL)"
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: 999
    group: 'systemd-journal'
    mode: '0750'
  loop:
    - "{{ nextcloud.dest.db }}"

- name: "Put docker-compose.yml"
  ansible.builtin.template:
    src: templates/ds/root/ds/docker-compose.yml.j2
    dest: /root/ds/docker-compose.yml
    owner: root
    group: root
    mode: '0644'

- name: "Start NextCloud Docker Compose"
  community.docker.docker_compose_v2:
    project_src: /root/ds/
    state: present
