sysLocation    Sitting on the Dock of the Bay
sysContact     Me <me@example.org>

sysServices    72

master  agentx

view   systemonly  included   .1.3.6.1.4
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1
view   systemonly  included   .1.3.6.1.4.1.318

rocommunity public 192.168.88.0/24
com2sec mynet  192.168.88.0/24  public

rouser authPrivUser authpriv -V systemonly

perl do "/usr/bin/mod_apcupsd.pl";

includeDir /etc/snmp/snmpd.conf.d
