#!/bin/sh

SRC='{{ item.src }}'
DEST='{{ item.dest }}'

# check backup is mounted
ISSRCMOUNT=$(mount | grep -c '{{ item.src }}')
if [ ${ISSRCMOUNT} -ne 1 ]; then
  echo "${SRC} does not mounted" > /dev/null
  exit 1
fi

# rclone
rclone sync -v --metadata --track-renames \
  --exclude-from /home/hayato/backupscripts/Wasabi_exclude_{{ item.name }}.txt \
  ${SRC}/ wasabi-skylark:{{ all.vars.wasabi.bucket }}/{{ item.name }}
