is_leader = true
node_id_file = data/node-id
root_timezone = Asia/Tokyo
data_dir = data
plugin_dir = plugin
bin_dir = bin
password_secret = {{ graylog_password_secret }}
root_password_sha2 = {{ graylog_root_password }}
http_bind_address = 0.0.0.0:9000
elasticsearch_hosts = http://opensearch:9200
mongodb_uri = mongodb://mongodb:27017/graylog
plugin_dir = plugin

# Emails
transport_email_enabled = true
transport_email_protocol = smtp
transport_email_hostname = {{ graylog_email_host }}
transport_email_port = 587
transport_email_use_auth = true
transport_email_use_tls = true
transport_email_use_ssl = false
transport_email_auth_username = {{ graylog_email_user }}
transport_email_auth_password = {{ graylog_email_password }}
transport_email_from_email = {{ graylog.EMAIL_USER }}
transport_email_subject_prefix = [Graylog]
transport_email_socket_connection_timeout = 10s
transport_email_socket_timeout = 10s
