version: 1
host:
  id: "{{ scrutiny_collector_server_id }}"

api:
  endpoint: "http://{{ scrutiny_collector_server_ipaddr }}:8080"

{% if scrutiny_collector_device is defined %}
{{ scrutiny_collector_device | to_yaml }}
{% endif %}

commands:
  metrics_smartctl_bin: '{{ scrutiny_collector_smartctl }}'
