---
- name: "Install pip"
  ansible.builtin.apt:
    pkg: pipx
    state: present
    update_cache: true
    cache_valid_time: "{{ apt_cache_valid_time }}"

- name: "Install docker python module"
  ansible.builtin.pip:
    name: "docker"
    break_system_packages: true
    extra_args: "--upgrade"

- name: "Mkdir docker-compose.yml to homedir"
  ansible.builtin.file:
    path: "{{ scrutiny_server_docker_dir }}"
    owner: "{{ scrutiny_server_docker_dir_owner }}"
    group: "{{ scrutiny_server_docker_dir_group }}"
    mode: '0755'
    state: directory

- name: "Put Files"
  block:
    - name: "Make config directories"
      ansible.builtin.file:
        path: "{{ scrutiny_server_docker_dir }}/config"
        owner: "{{ scrutiny_server_docker_dir_owner }}"
        group: "{{ scrutiny_server_docker_dir_group }}"
        mode: '0755'
        state: directory

    - name: "Copy docker-compose.yml"
      ansible.builtin.template:
        src: templates/scrutiny/docker-compose.yml.j2
        dest: "{{ scrutiny_server_docker_dir }}/docker-compose.yml"
        owner: "{{ scrutiny_server_docker_dir_owner }}"
        group: "{{ scrutiny_server_docker_dir_group }}"
        mode: '0644'

    - name: "Copy scrutiny.yml"
      ansible.builtin.template:
        src: templates/scrutiny/config/scrutiny.yaml.j2
        dest: "{{ scrutiny_server_docker_dir }}/config/scrutiny.yaml"
        owner: "{{ scrutiny_server_docker_dir_owner }}"
        group: "{{ scrutiny_server_docker_dir_group }}"
        mode: '0644'

- name: "Up Scrutiny"
  community.docker.docker_compose_v2:
    project_src: "{{ scrutiny_server_docker_dir }}"
