---
- name: Install Dir mkdir(/opt/bin/)
  ansible.builtin.file:
    path: /opt/bin
    state: directory
    mode: '0755'

- name: Install pip3 (Linux)
  ansible.builtin.apt:
    update_cache: true
    pkg:
      - python3-pip
    cache_valid_time: "{{ apt_cache_valid_time }}"
  when: ansible_distribution == "Ubuntu"

- name: Install pip3 (macOS)
  community.general.homebrew:
    name: pipx
    state: present
  when: ansible_distribution == "MacOSX"

- name: Download yt-dlp (Linux)
  ansible.builtin.get_url:
    url: "{{ ytdlp.linux.url }}"
    dest: /opt/bin/yt-dlp
    checksum: "{{ ytdlp.linux.checksum }}"
    mode: "0755"
  when: ansible_distribution == "Ubuntu"

- name: Install yt-dlp-FixupMtime
  ansible.builtin.pip:
    name: "git+https://github.com/bradenhilton/yt-dlp-FixupMtime"
    extra_args: "--upgrade --break-system-packages"

- name: "Get yt-dlp-FixupMtime Installed Path"
  ansible.builtin.shell:
    executable: /bin/bash
    cmd: >
      set -o pipefail &&
      pip3 show yt-dlp-FixupMtime |
        grep Location | awk -F ': ' '{print $2}' | tr -d '\n'
  register: yt_dlp_fixuptime_path
  changed_when: false
  failed_when: yt_dlp_fixuptime_path.stdout == ''
  check_mode: false

- name: "Make a yt-dlp plugin dir in homedir (Linux)"
  ansible.builtin.file:
    path: "{{ item.homedir }}/.yt-dlp/plugins/yt-dlp-FixupMtime"
    state: directory
    mode: '0755'
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
  loop: "{{ user }}"
  when:
    - ansible_distribution == "Ubuntu"
    - item.username != 'ansible'
  no_log: true

- name: "Make a yt-dlp-FixupMtime's symbolic link to correct location (Linux)"
  ansible.builtin.file:
    src: "{{ yt_dlp_fixuptime_path.stdout }}/yt_dlp_plugins"
    dest: "{{ item.homedir }}/.yt-dlp/plugins/yt-dlp-FixupMtime/yt_dlp_plugins"
    owner: "{{ item.username }}"
    group: "{{ item.username }}"
    state: link
    follow: false
  loop: "{{ user }}"
  when:
    - ansible_distribution == "Ubuntu"
    - item.username != 'ansible'
  no_log: true

- name: "Make a yt-dlp plugin dir in homedir (macOS)"
  ansible.builtin.file:
    path: "{{ item.homedir_mac }}/.yt-dlp/plugins/yt-dlp-FixupMtime"
    state: directory
    mode: '0755'
    owner: "{{ item.username }}"
    group: "staff"
  loop: "{{ user }}"
  when:
    - ansible_distribution == "MacOSX"
    - item.username != 'ansible'
  no_log: true

- name: "Make a yt-dlp-FixupMtime's symbolic link to correct location (macOS)"
  ansible.builtin.file:
    src: "{{ yt_dlp_fixuptime_path.stdout }}/yt_dlp_plugins"
    dest: "{{ item.homedir_mac }}/.yt-dlp/plugins/yt-dlp-FixupMtime/yt_dlp_plugins"
    owner: "{{ item.username }}"
    group: "staff"
    state: link
  loop: "{{ user }}"
  when:
    - ansible_distribution == "MacOSX"
    - item.username != 'ansible'
  no_log: true

- name: Download twitter-loader
  ansible.builtin.unarchive:
    src: "https://github.com/mmpx12/twitter-media-downloader/releases/download/v1.14.2/twitter-media-downloader-v1.14.2-linux-amd64.tar.gz"
    dest: /opt/bin/
    remote_src: true
    mode: "0755"

- name: Install instaloader
  ansible.builtin.pip:
    name: "git+https://github.com/instaloader/instaloader@v4.14.1"
    extra_args: "--upgrade --use-pep517 --break-system-packages"
