---
- name: "Install i915 Driver Dependency Pkgs"
  ansible.builtin.apt:
    pkg:
      - build-essential
      - dkms
      - mokutil
      - vainfo
    state: present

- name: "Install i915 Driver Dependency Kernel(Unsigned) for Proxmox"
  ansible.builtin.apt:
    pkg:
      - "proxmox-headers-{{ proxmox_vfs_kernel }}"
      - "proxmox-kernel-{{ proxmox_vfs_kernel }}"
    state: present
  when: proxmox_vfs_kernel is defined

- name: "Download and Install i915 Driver"
  ansible.builtin.get_url:
    url: "{{ proxmox_i915_driver_url }}"
    dest: "{{ proxmox_i915_driver_dest }}"
    checksum: "{{ proxmox_i915_driver_checksum }}"
    mode: '0600'

- name: "Install i915 Driver"
  ansible.builtin.apt:
    deb: "{{ proxmox_i915_driver_dest }}"
    state: present
  notify:
    - "Run update-grub"
    - "Run update-initramfs"
    - "Echo reboot notice"

- name: "Configure GRUB CMDLINE for Linux"
  community.general.ini_file:
    path: /etc/default/grub
    option: "GRUB_CMDLINE_LINUX_DEFAULT"
    value: '"quiet intel_iommu=on i915.enable_guc=3 module_blacklist=xe"'
    state: present
    no_extra_spaces: true
    mode: "644"
  when: proxmox_vfs_kernel is undefined
  notify:
    - "Run update-grub"
    - "Run update-initramfs"
    - "Echo reboot notice"

- name: "Configure for Proxmox"
  notify:
    - "Run update-grub"
    - "Run update-initramfs"
    - "Run pin-kernel"
    - "Echo reboot notice"
  block:
    - name: "Configure GRUB CMDLINE for Proxmox"
      community.general.ini_file:
        path: /etc/default/grub
        option: "GRUB_CMDLINE_LINUX_DEFAULT"
        value: '"quiet intel_iommu=on i915.enable_guc=3 i915.max_vfs={{ proxmox_vfs_count }} module_blacklist=xe"'
        state: present
        no_extra_spaces: true
        mode: "644"
      when: proxmox_vfs_kernel is defined

    - name: "Install sysfsutils for allow VFs for Proxmox"
      ansible.builtin.apt:
        pkg: sysfsutils
        state: present
        update_cache: true

    - name: "Configure VFs for Proxmox"
      community.general.ini_file:
        path: /etc/sysfs.conf
        option: "devices/{{ proxmox_vfs_bus }}/sriov_numvfs"
        value: "{{ proxmox_vfs_count }}"
        state: present
        no_extra_spaces: false
        mode: "644"
