---
- name: "Dnsmasq / Stop and remove systemd-resolved.service"
  ansible.builtin.systemd_service:
    name: systemd-resolved.service
    state: stopped
    enabled: false
    masked: true
  listen: "Mask systemd-resolved"

- name: "Dnsmasq / Start and enable dnsmasq"
  ansible.builtin.systemd_service:
    name: dnsmasq
    state: restarted
    enabled: true
  listen: "Restart dnsmasq"
