---
- name: Restart avahi-daemon
  ansible.builtin.systemd_service:
    name: avahi-daemon
    state: restarted
  listen: "Restart avahi-daemon"

- name: Restart docker
  ansible.builtin.systemd_service:
    name: docker
    state: restarted
  listen: "Restart docker"

- name: Restart rsyslog
  ansible.builtin.systemd_service:
    name: rsyslog
    state: restarted
  listen: "Restart rsyslog"

- name: Restart systemd-journald
  ansible.builtin.systemd_service:
    name: systemd-journald
    state: restarted
  listen: "Restart systemd-journald"

- name: Restart multipathd
  ansible.builtin.systemd_service:
    name: multipathd
    state: restarted
  listen: "Restart multipathd"

- name: Restart zramswap
  ansible.builtin.systemd_service:
    name: zramswap
    state: restarted
  listen: "Restart zramswap"

- name: "Restart systemd-resolved.service"
  ansible.builtin.systemd_service:
    name: systemd-resolved.service
    state: restarted
    enabled: true
  listen: "Restart systemd-resolved"

- name: "Run update-grub"
  ansible.builtin.command:
    cmd: update-grub
  register: retval
  changed_when: retval.rc == 0
  listen: "Run update-grub"

- name: "Run update-initramfs"
  ansible.builtin.command:
    cmd: update-initramfs -u
  register: retval
  changed_when: retval.rc == 0
  listen: "Run update-initramfs"

- name: "Run update-initramfs"
  ansible.builtin.command:
    cmd: "proxmox-boot-tool kernel pin {{ vfs.kernel }}"
  register: retval
  changed_when: retval.rc == 0
  listen: "Run pin-kernel"

- name: "Echo reboot notice"
  ansible.builtin.debug:
    msg: "Please Reboot Here."
  listen: "Echo reboot notice"

- name: "Reconfigure netplan"
  ansible.builtin.command:
    cmd: "netplan apply -f"
  register: retval
  changed_when: retval.rc == 0
  listen: "Reconfigure netplan"

- name: "KSM Cache extend for ksm service restart"
  ansible.builtin.command:
    cmd: "echo '2' > /sys/kernel/mm/ksm/run"
  register: retval
  changed_when: retval.rc == 0
  listen: "KSM cache extend"

- name: "Restart ksmtuned"
  ansible.builtin.systemd_service:
    name: ksmtuned.service
    state: restarted
    enabled: true
  listen: "Restart ksmtuned"

- name: "Tailscale sysctl restart"
  ansible.builtin.command:
    cmd: "sysctl -p /etc/sysctl.d/99-tailscale.conf"
  register: retval
  changed_when: retval.rc == 0
  listen: "tailscale sysctl"

- name: "Swappiness setting for nuc sysctl restart"
  ansible.builtin.command:
    cmd: "sysctl -p /etc/sysctl.d/99-swappiness.conf"
  register: retval
  changed_when: retval.rc == 0
  listen: "swappiness sysctl"

- name: "Restart ksmtuned"
  ansible.builtin.systemd_service:
    name: hdd_prevent_sleeping.service
    state: restarted
    enabled: true
  listen: "hdd_prevent_sleeping"

- name: "Restart NGiNX"
  ansible.builtin.systemd_service:
    name: nginx.service
    state: restarted
    enabled: true
  listen: "Restart NGiNX"

- name: "Restart cron"
  ansible.builtin.systemd_service:
    name: cron.service
    state: restarted
    enabled: true
  listen: "Restart cron"

- name: "Run Tailscale funnel"
  ansible.builtin.debug:
    msg: |
      Run That Command on This node:
       tailscale funnel --bg --https=443 http://localhost:11000
  listen: "Run funnel"
  changed_when: true

- name: "Start NextCloud Docker Compose"
  community.docker.docker_compose_v2:
    project_src: /root/ds/
    state: present
  listen: "Exec NextCloud"

- name: Restart and update tailscale
  ansible.builtin.systemd_service:
    name: tailscaled
    state: restarted
    daemon_reload: true
  listen: "Restart and update tailscale"

- name: Restart zabbix-agent2
  ansible.builtin.systemd_service:
    name: zabbix-agent2
    state: restarted
    enabled: true
    daemon_reload: true
  listen: "Restart zabbix-agent2"
