---
- name: "GPU / Install Requirements"
  ansible.builtin.apt:
    pkg:
      - build-essential
      - dkms
      - linux-headers-generic
      - "linux-image-generic-hwe-{{ ansible_distribution_version }}"
    state: present
    update_cache: true
    cache_valid_time: "{{ apt_cache_valid_time }}"

- name: "GPU / Download i915 Driver"
  ansible.builtin.get_url:
    url: "{{ nextcloud_i915_driver_url }}"
    dest: "{{ nextcloud_i915_driver_dest }}"
    checksum: "{{ nextcloud_i915_driver_checksum }}"
    mode: '0600'

- name: "GPU / Install i915 Driver"
  ansible.builtin.apt:
    deb: "{{ nextcloud_i915_driver_dest }}"
    state: present
  notify:
    - "Run update-grub"
    - "Run update-initramfs"
    - "Echo reboot notice"

- name: "GPU / Configure GRUB CMDLINE"
  community.general.ini_file:
    path: /etc/default/grub
    option: "GRUB_CMDLINE_LINUX_DEFAULT"
    value: '"quiet intel_iommu=on xe.force_probe=0xa7a0 module_blacklist=i915"'
    state: present
    no_extra_spaces: true
    mode: "644"
  notify:
    - "Run update-grub"
    - "Run update-initramfs"
    - "Echo reboot notice"

- name: "GPU / Install GPU Utilities"
  ansible.builtin.apt:
    pkg:
      - libmfx-gen-dev
      - libva-dev
      - vainfo
      - mesa-utils
    state: present
    update_cache: true

- name: "GPU / Integrated GPU Permission Fix"
  ansible.builtin.copy:
    src: templates/all/etc/udev/rules.d/99-render.rules
    dest: /etc/udev/rules.d/99-render.rules
    owner: root
    group: root
    mode: '0644'
