[Unit]
Description=Set CPU Speed

[Service]
User=root
Type=oneshot
{% if cpufreq_cpu.cores is defined %}
{% for core in cpufreq_cpu.cores %}
{% if core.enable and core.max_freq_khz is defined %}
ExecStart=/bin/sh -c "echo {{ core.max_freq_khz }} | tee /sys/devices/system/cpu/cpu{{ core.core }}/cpufreq/scaling_max_freq"
{% endif %}
{% endfor %}
{% endif %}

[Install]
WantedBy=multi-user.target
