[Unit]
Description=Set CPU governer to {{ cpufreq_cpu.governor }}

[Service]
User=root
Type=simple
ExecStart=/usr/bin/cpupower frequency-set -g {{ cpufreq_cpu.governor }}

[Install]
WantedBy=multi-user.target
