---
- name: "Kea DHCP / Gather Installed Packages"
  ansible.builtin.package_facts:
    manager: auto

- name: "Kea DHCP / Install Kea DHCPv4 Server"
  ansible.builtin.apt:
    name: "kea-dhcp4-server"
    state: present
    update_cache: true
  notify:
    - "Restart kea-dhcpv4"
  when: not 'kea-dhcp4-server' in ansible_facts.packages

- name: "Kea DHCP / Copy DHCPv4 Config"
  ansible.builtin.template:
    src: templates/etc/kea/kea-dhcp4.conf.j2
    dest: /etc/kea/kea-dhcp4.conf
    owner: root
    group: root
    mode: '0644'
  notify:
    - "Restart kea-dhcpv4"

- name: "Kea DHCP / Make firectory for lease file"
  ansible.builtin.file:
    path: "/var/lib/kea"
    state: directory
    owner: "_kea"
    group: "_kea"
    mode: '0755'
  notify:
    - "Restart kea-dhcpv4"

- name: "Kea DHCP /Mount tmpfs for lease file"
  ansible.posix.mount:
    src: "tmpfs"
    path: "/var/lib/kea"
    opts: "defaults"
    fstype: tmpfs
    state: mounted
  notify:
    - "Restart kea-dhcpv4"
