---
- name: "Start NextCloud Docker Compose"
  community.docker.docker_compose_v2:
    project_src: /root/ds/
    state: present
  listen: "Exec NextCloud"

- name: "Start NextCloud Proxy Compose"
  community.docker.docker_compose_v2:
    project_src: /root/proxy/
    state: present
  listen: "Exec Proxy"

- name: "Run Tailscale funnel"
  ansible.builtin.debug:
    msg: |
      Run That Command on This node:
       tailscale funnel --bg --https=443 http://localhost:8880
  listen: "Run funnel"
  changed_when: true

- name: "Restart and update systemd-logind"
  ansible.builtin.systemd_service:
    name: systemd-logind
    state: restarted
    daemon_reload: true
  listen: "Restart systemd-logind"
