#!/bin/bash
cd /root/borgbackup

docker compose run --rm borgbackup create \
  --compression lz4 \
  /target::"archive-{now:%Y-%m-%d-%H%M%S}" \
  /source

docker compose run --rm borgbackup prune \
  --list \
  --glob-archives 'archive-*' \
  --keep-daily {{ borg_keep_daily }} \
  --keep-weekly {{ borg_keep_weekly }} \
  --keep-monthly {{ borg_keep_monthly }} \
  /target

docker compose run --rm borgbackup compact /target
