#!/bin/bash
cd /root/borgbackup

docker compose run --rm \
  --entrypoint "sh -c \
    'borg create \
      --one-file-system \
      --sparse \
      --compression lz4 \
      --list \
      /target::"archive-{now:%Y-%m-%d-%H%M%S}" \
      /source/*'" \
  borgbackup

docker compose run --rm borgbackup prune \
  --list \
  --glob-archives 'archive-*' \
  --keep-hourly {{ borg_keep_hourly }} \
  --keep-daily {{ borg_keep_daily }} \
  --keep-weekly {{ borg_keep_weekly }} \
  --keep-monthly {{ borg_keep_monthly }} \
  /target

docker compose run --rm borgbackup compact /target
