version: 1
web:
  listen:
    port: 8080
    host: "0.0.0.0"

  database:
    location: /opt/scrutiny/config/scrutiny.db

  influxdb:
    host: 0.0.0.0
    port: 8086

notify:
  urls:
    - "smtp://{{ scrutiny_server_mail_address }}:{{ scrutiny_server_mail_app_passwd }}@{{ scrutiny_server_mail_smtp_server }}:{{ scrutiny_server_mail_smtp_port }}/?starttls=true&fromAddress={{ scrutiny_server_mail_address }}&toAddresses={{ scrutiny_server_mail_address }}"

  filters:
    - "fail"
    - "critical"
