AddKeysToAgent yes
UseKeychain yes
IdentityFile ~/.ssh/id_ed25519

Host github.com
  Hostname ssh.github.com
  Port 443

{% for host in network.values() %}
Host {{ host.shortname }}
  Hostname {{ host.hostname }}
  Port 22
  User hayato

{% endfor %}
