AddKeysToAgent yes
UseKeychain yes
IdentityFile ~/.ssh/id_ed25519
HostkeyAlgorithms +ssh-rsa
ServerAliveInterval 60

Host github.com
  Hostname ssh.github.com
  Port 443

{% for host in network %}
Host {{ host.shortname }}
  Hostname {{ host.hostname }}
  Port 22
  User {{ host.sshuser }}

{% endfor %}
