---
- name: "Run update-grub"
  ansible.builtin.command:
    cmd: update-grub
  register: retval
  changed_when: retval.rc == 0
  listen: "Run update-grub"

- name: "Run update-initramfs"
  ansible.builtin.command:
    cmd: update-initramfs -u
  register: retval
  changed_when: retval.rc == 0
  listen: "Run update-initramfs"

- name: "Reconfigure libdvd"
  ansible.builtin.command:
    cmd: "dpkg-reconfigure --frontend noninteractive libdvd-pkg"
  register: retval
  changed_when: retval.rc == 0
  listen: "Reconfigure libdvd"

- name: "Restart accounts-daemon.service"
  ansible.builtin.systemd_service:
    name: accounts-daemon.service
    state: restarted
    enabled: true
  listen: "Restart accounts-daemon"

- name: "Restart console-setup"
  ansible.builtin.systemd_service:
    name: console-setup.service
    state: restarted
    enabled: true
  listen: "Restart console-setup"

- name: "Restart xrdp"
  ansible.builtin.systemd_service:
    name: xrdp.service
    state: restarted
    enabled: true
  listen: "Restart xrdp"

- name: "Enable RDP Wayland"
  ansible.builtin.command:
    cmd: "grdctl rdp enable"
  register: retval
  changed_when: retval.rc == 0
  listen: "Enable RDP Wayland"
  become: true
