#!/bin/bash

BACKUP_DIR="{{ nfs.dest }}"
DATE=$(date +%Y%m%d_%H%M)

# Mongodump
docker exec gl-mongodb-1 mongodump --archive > ${BACKUP_DIR}/mongodb/mongodb_${DATE}.archive

# Opensearch dump
curl -X PUT "localhost:9200/_snapshot/backup/snapshot_${DATE}?wait_for_completion=true"
