services:
  mongodb:
    image: "mongo:8.2.3-noble"
    restart: always
    volumes:
      - /opt/data/mongodb:/data/db

  # Graylog requires Opensearch 2.0.0. The latest version doesn't work with it.
  opensearch:
    image: "opensearchproject/opensearch:2.0.0"
    restart: always
    environment:
      - "OPENSEARCH_INITIAL_ADMIN_PASSWORD={{ graylog_opensearch_initial_admin_password }}"
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
      - "bootstrap.memory_lock=true"
      - "discovery.type=single-node"
      - "action.auto_create_index=false"
      - "plugins.security.disabled=true"
      - "path.repo=/usr/share/opensearch/backup"
    ports:
      - "9200:9200"
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - /opt/data/opensearch:/usr/share/opensearch/data
      - backup_opensearch:/usr/share/opensearch/backup

  graylog:
    image: "graylog/graylog:7.0"
    depends_on:
      mongodb:
        condition: service_started
      opensearch:
        condition: service_started
    restart: always
    entrypoint: /usr/bin/tini -- wait-for-it opensearch:9200 -- /docker-entrypoint.sh
    ports:
      - "9000:9000"
      - "514:1514"
      - "514:1514/udp"
    volumes:
      - /opt/data/graylog:/usr/share/graylog/data

  backup_mongodb:
    image: docker:cli
    depends_on:
      mongodb:
        condition: service_started
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./backup-mondodb.sh:/usr/local/bin/backup-mondodb.sh:ro
      - backup_mongodb:{{ graylog_backup_dest }}
    entrypoint: ["/bin/sh", "/usr/local/bin/backup-mondodb.sh"]

  backup_opensearch:
    image: alpine/curl
    depends_on:
      opensearch:
        condition: service_started
    volumes:
      - ./backup-opensearch.sh:/usr/local/bin/backup-opensearch.sh:ro
    entrypoint: ["/bin/sh", "/usr/local/bin/backup-opensearch.sh"]

volumes:
  backup_mongodb:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=192.168.88.200,hard,nolock,rsize=1048576,wsize=1048576,nfsvers=4"
      device: ":{{ graylog_backup_src }}"

  backup_opensearch:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=192.168.88.200,hard,nolock,rsize=1048576,wsize=1048576,nfsvers=4"
      device: ":{{ graylog_backup_src }}/opensearch"
