services:
  db:
    image: mariadb:10.11
    restart: always
    command: --transaction-isolation=READ-COMMITTED --log-bin=binlog --binlog-format=ROW --innodb_use_native_aio=0
    volumes:
      - {{ nextcloud.dest.db }}:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD={{ nextcloud.db.rootpasswd }}
      - MYSQL_PASSWORD={{ nextcloud.db.passwd }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud

  nextcloud:
    image: nextcloud:latest
    restart: always
    ports:
      - "8080:80"
    volumes:
      - {{ nextcloud.dest.config }}/nextcloud_config:/var/www/html
      - {{ nextcloud.dest.data }}:/var/www/html/data
    environment:
      - MYSQL_PASSWORD={{ nextcloud.db.passwd }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db
      - OVERWRITEPROTOCOL=https
      - NEXTCLOUD_TRUSTED_DOMAINS=hayaworld.home {{ nextcloud.domain }}
      - OVERWRITEPROTOCOL=https
      - TRUSTED_PROXIES=127.0.0.1 100.64.0.0/10
