services:
  nextcloud:
    container_name: nextcloud-aio-mastercontainer
    image: ghcr.io/nextcloud-releases/all-in-one:20251218_095503
    restart: always
    init: true
    user: root
    privileged: true
    security_opt:
      - label:disable
    ports:
      - "8080:8080"
    volumes:
      - nextcloud_aio_mastercontainer:/mnt/docker-aio-config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - OVERWRITEPROTOCOL=https
      - OVERWRITEHOST=ds.{{ nextcloud.domain }}
      - NEXTCLOUD_ADDITIONAL_APKS=imagemagick ffmpeg
      - NEXTCLOUD_ADDITIONAL_PHP_EXTENSIONS=imagick ffmpeg
      - NEXTCLOUD_ENABLE_DRI_DEVICE=false
      - SKIP_DOMAIN_VALIDATION=true
      - APACHE_PORT=11000
      - APACHE_IP_BINDING=0.0.0.0

volumes:
  nextcloud_aio_mastercontainer:
    name: nextcloud_aio_mastercontainer
