#!/bin/bash

echo $1

CKEY="{{ all.vars.pocket.consumer_key }}"
TOKEN="{{ all.vars.pocket.access_token }}"

curl \
  -s \
	-d consumer_key="${CKEY}" \
	-d access_token="${TOKEN}" \
	-d url="$1" \
	"{{ all.vars.pocket.url.add }}" > /dev/null

if [ $? -ne 0 ]; then
  echo "Some error occured."
  exit 1
fi
