#!/bin/bash

echo $1

CKEY="{{ pocket.consumer_key }}"
TOKEN="{{ pocket.access_token }}"

curl \
	-d consumer_key="${CKEY}" \
	-d access_token="${TOKEN}" \
	-d actions=[{\"action\":\"delete\"\,\"item_id\":"$1"}] \
	"{{ pocket.url.send }}"
