---
- name: "Common / Install systemd-resolved"
  ansible.builtin.apt:
    name: "resolvconf-admin"
    state: present
    update_cache: true
    cache_valid_time: "{{ common_apt.cache_valid_time }}"

- name: "Common / Set to don't use DNSStubListener for systemd config"
  community.general.ini_file:
    path: /etc/systemd/resolved.conf
    section: "Resolve"
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    state: present
    no_extra_spaces: true
    mode: "644"
  loop:
    - option: "DNSStubListener"
      value: "no"
    - option: "LLMNR"
      value: "no"
    - option: "MulticastDNS"
      value: "no"
  notify: "Restart systemd-resolved"
  tags:
    - resolve
