# Auth Settings
WEBUI_ADMIN_EMAIL={{ webui_admin_email }}
WEBUI_ADMIN_PASSWORD={{ webui_admin_password }}
WEBUI_ADMIN_NAME={{ webui_admin_name }}

# Basic Settings
CORS_ALLOW_ORIGIN="*"
ENABLE_COMMUNITY_SHARING=false
ENABLE_EASTER_EGGS=false
ENABLE_MESSAGE_RATING=false
ENABLE_SIGNUP=false
ENABLE_VERSION_UPDATE_CHECK=false
GLOBAL_LOG_LEVEL=INFO

# OpenAI
ENABLE_OPENAI_API=false

# AIO Client
AIOHTTP_CLIENT_TIMEOUT=''
AIOHTTP_CLIENT_TIMEOUT_MODEL_LIST=100
AIOHTTP_CLIENT_TIMEOUT_TOOL_SERVER=''
WEBUI_URL="https://ollama.{{ tailscale_domain }}"

# Ollama Config
OLLAMA_BASE_URL="http://ollama.hayaworld.home:11434"

# Arena
ENABLE_EVALUATION_ARENA_MODELS=false

# Code Execution
ENABLE_CODE_EXECUTION=false
ENABLE_CODE_INTERPRETER=false

# Task Execution
ENABLE_FOLLOW_UP_GENERATION=false
ENABLE_TAGS_GENERATION=true
TASK_MODEL="Gemma4:E2B"
TASK_MODEL_EXTERNAL="Gemma4:E2B"

# RAG
CHUNK_OVERLAP=100
CHUNK_SIZE=1000
ENABLE_RAG_HYBRID_SEARCH_ENRICHED_TEXTS=false
RAG_HYBRID_BM25_WEIGHT=0.5
RAG_OLLAMA_BASE_URL="http://ollama.hayaworld.home:11434"
RAG_RELEVANCE_THRESHOLD=0.6
RAG_TEXT_SPLITTER=character
RAG_TOP_K_RERANKER=3
ENABLE_RAG_HYBRID_SEARCH=true

# RAG_Embedding
ENABLE_ASYNC_EMBEDDING=true
RAG_EMBEDDING_BATCH_SIZE=1
RAG_EMBEDDING_CONCURRENT_REQUESTS=1
RAG_EMBEDDING_ENGINE=ollama
RAG_EMBEDDING_MODEL="kun432/cl-nagoya-ruri-large:latest"
RAG_EMBEDDING_TIMEOUT=''

# RAG-Reranking
RAG_EXTERNAL_RERANKER_URL="http://ollama.hayaworld.home:11434"
RAG_RERANKING_BATCH_SIZE=32
RAG_RERANKING_ENGINE=external
RAG_RERANKING_MODEL="bge_reranker_v2_m3:latest"

# RAG-tika
TIKA_SERVER_URL="http://ollama.hayaworld.home:9998"
CONTENT_EXTRACTION_ENGINE=tika

# Web
ENABLE_SEARCH_QUERY_GENERATION=true
ENABLE_WEB_SEARCH=true
USER_AGENT="Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36"
WEB_FETCH_MAX_CONTENT_LENGTH=1000
WEB_LOADER_CONCURRENT_REQUESTS=2
WEB_SEARCH_CONCURRENT_REQUESTS=2
WEB_SEARCH_RESULT_COUNT=2
WEB_SEARCH_TRUST_ENV=True

# Web-Search engine
WEB_SEARCH_ENGINE=searxng
SEARXNG_LANGUAGE=ja
SEARXNG_QUERY_URL='http://searxng.hayaworld.home:8080/search?q=<query>&format=json'

# Web-Loader
ENABLE_WEB_LOADER_SSL_VERIFICATION=true
FIRECRAWL_API_BASE_URL="http://firecrawl.hayaworld.home:3002"
FIRECRAWL_API_KEY='self-hosted'
FIRECRAWL_TIMEOUT=''
WEB_LOADER_ENGINE=firecrawl
WEB_LOADER_TIMEOUT=''

# Image Generation
ENABLE_IMAGE_GENERATION=false
