is_leader = true
node_id_file = data/node-id
root_timezone = Asia/Tokyo
data_dir = data
plugin_dir = plugin
bin_dir = bin
password_secret = {{ graylog.PASSWORD_SECRET }}
root_password_sha2 = {{ graylog.ROOT_PASSWORD }}
http_bind_address = 0.0.0.0:9000
elasticsearch_hosts = http://opensearch:9200
mongodb_uri = mongodb://mongodb:27017/graylog
plugin_dir = plugin
