apt:
  - nfs-common

docker_network:
  base: "172.17.123.0/24"
  size: "28"

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "HTTP server"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "80"
      - name: "HTTPS server"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "443"
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"
      - name: "HTTP server"
        proto: "tcp"
        src: "::"
        port: "80"
      - name: "HTTPS server"
        proto: "tcp"
        src: "::"
        port: "443"

nextcloud:
  nfs:
    src: "skylark.hayaworld.home:/mnt/skylark/nextcloud"
    dest: "/nextcloud"
  dest:
    data: "/nextcloud/data"
    config: "/nextcloud/config"
    db: "/nextcloud/db"
  db:
    rootpasswd: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36373234323065633338376261343361356638356666636463666232636533306166393263653364
          3262386662643762626265363132636332383532343364380a386664613739656230623139663366
          37386530343835363437326561623035353464636134383136303130356563396562343736313465
          6435316230333061610a613865376236303733336465336132653864616430363030323030656336
          62613835343461613039613565643263643331326266353130316664353164366163
    passwd: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34373364623135383166386537633362313165633266663265323865396137666430653762333234
          3063383662383761353535623530333730366532386363640a613236393239333265643735306432
          33366237613039666637393963623664616463633432633230663763336232353237356433303336
          3764623061316237380a356661643563663961353937363963663163333964386464353635626434
          3465
