docker_network:
  base: "172.17.123.0/24"
  size: "28"

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "HTTPS server"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "443"
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"
      - name: "HTTPS server"
        proto: "tcp"
        src: "::"
        port: "443"
