apt:
  - nfs-common

docker_network:
  base: "172.17.123.0/24"
  size: "28"

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "HTTP server"
        proto: "tcp"
        src: "0.0.0.0/0"
        port: "8080"
      - name: "HTTP server"
        proto: "tcp"
        src: "0.0.0.0/0"
        port: "443"
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"
      - name: "HTTP server"
        proto: "tcp"
        src: "::"
        port: "8080"
      - name: "HTTP server"
        proto: "tcp"
        src: "::"
        port: "443"

nextcloud:
  nfs:
    server: "192.168.88.200"
    src: "/mnt/skylark/nextcloud"
    dest: "/mnt/nextcloud"
  domain: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          34323962623038316235393365633630366662313138363136303362336535313535363039336439
          3830303238303366623163643166336538383737636635380a663963396634343064656462623061
          34316165376563363561396337363136626230303635383931313164336333386532633561366163
          6135313438663862390a643862613738656136333332616435346166376561656232393362396637
          65333963393637313035623234653732366361356336323237613163636536626561
