apt:
  - cron
  - nfs-common

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "HTTP server"
        proto: "tcp"
        src: "0.0.0.0/0"
        port: "8080"
      - name: "HTTP server"
        proto: "tcp"
        src: "0.0.0.0/0"
        port: "443"
      - name: "Zabbix from Zabbix-server"
        proto: "tcp"
        src: "192.168.88.106/24"
        port: "10050"
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"
      - name: "HTTP server"
        proto: "tcp"
        src: "::"
        port: "8080"
      - name: "HTTP server"
        proto: "tcp"
        src: "::"
        port: "443"

nextcloud_domain: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  34323962623038316235393365633630366662313138363136303362336535313535363039336439
  3830303238303366623163643166336538383737636635380a663963396634343064656462623061
  34316165376563363561396337363136626230303635383931313164336333386532633561366163
  6135313438663862390a643862613738656136333332616435346166376561656232393362396637
  65333963393637313035623234653732366361356336323237613163636536626561

rsyslog:
  rsyslog_client_additional_actions: |
    if ($rawmsg contains 'nextcloud-aio') then {
      if (re_match($msg, '"[A-Z]+ .* HTTP/[0-9.]+" [23][0-9]{2} ')) then {
        stop
      }
      if (re_match($msg, 'PROPFIND .* 499 ')) then {
        stop
      }
      if ($msg contains 'GET /push/ws') then {
        stop
      }
      action(type="omfwd" target="192.168.88.109" port="514" protocol="tcp")
      stop
    }

docker_config:
  log-driver: "syslog"
  log-opts:
    syslog-address: "unixgram:///dev/log"
    tag: "{% raw %}nextcloud-aio/{{.Name}}{% endraw %}"
    syslog-format: "rfc3164"

swappiness: 10

docker_drive_uuid: "397a73b4-c584-4a22-a093-15df469b5360"
