---
apt:
  - curl
  - dstat
  - htop
  - nfs-common

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "Rsyslog(UDP) from service line"
        proto: "udp"
        src: "192.168.88.0/24"
        port: '514'
      - name: "Rsyslog(TCP) from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '514'
      - name: "Graylog WebUI"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '9000'
      - name: "Graylog Opensearch backup for myself"
        proto: "tcp"
        src: "127.0.0.1/32"
        port: '9200'
    ipv6:
      - name: "SSH from service line(IPv6)"
        proto: "tcp"
        src: "{{ ipv6.ula.prefix }}::/48"
        port: '22'
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"

data_root: "/opt/data"

graylog:
  OPENSEARCH_INITIAL_ADMIN_PASSWORD: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          39386439303764623739383232663134643434353235663065333033613032386130363764613638
          3138323732636139323066313130323233656130633238380a613365336465303936383333376238
          33633863326531613033343138623236323032616662353331653734353230323732343537636361
          3434646632343138630a343264313131366338376132633263623936353064313338613234666564
          66633138383166323234643439356663623439363761656161663939623036313033
  PASSWORD_SECRET: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          38353065336333646234643038666330366364633737333237306634343735366661313939373834
          3537303762613030316336306139303935353231313565360a356466303039643164633530633837
          61306135393734366561666363623635653530646131326430343834613134376238613364336665
          3263326264636435390a636561376564613861323735613337306133623932613736366232376237
          32656632383239656661633364333532353163636339396539623266613238326561313135663761
          65373061663862656336633138633764623932353236333830393632666637386334613839376339
          38343861643165326532323332363238613464646361613464333235363732306134323764633335
          34373438653438663239323236316537653135636435383565376537373164363262343066326461
          62373461363838343433356366636366613036663833373364666462616132363935306661636437
          3539313935306335613764303630363866666432333135613661
  # echo -n "password" | sha256sum
  ROOT_PASSWORD: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          36326334633132316133626564333738653139383737333166393638333064623433323439333030
          6333333330323634336562366535356265666431303133320a656237613265623764303530373236
          66656434303330353764383764393063343664306434623436633664333134643765633635303734
          3537616232303830610a366464333630343638343961326363373537633930353532663333356133
          38336433363765636161633361626631376462376535396139313361626432383438666437393235
          33353535303837393738633461633138353664336432303734643036326636633538633032386131
          63633666393763633937663461303735383361643265323637306161616533386433616333346663
          37386533643035313738

nfs:
  src: "skylark.hayaworld.home:/mnt/skylark/graylog_dump"
  dest: "/backup"
