---
network:
  - hostname: tank.hayaworld.home
    interface: bond0
    ipv4: 192.168.88.10
    shortname: tank
    sshuser: hayato
    self_org: true
    mtu: 9000
    macaddress: "6c:bf:b5:03:69:17"
  - hostname: nuc01.hayaworld.home
    interface: enp1s0
    ipv4: 192.168.88.11
    shortname: nuc01
    sshuser: root
    self_org: false
    proxmox: true
    macaddress: "68:1d:ef:4d:99:3c"
  - hostname: nuc02.hayaworld.home
    interface: enp1s0
    ipv4: 192.168.88.12
    shortname: nuc02
    sshuser: root
    self_org: false
    proxmox: true
    macaddress: "68:1d:ef:4d:99:d2"
  - hostname: nuc03.hayaworld.home
    interface: enp86s0
    ipv4: 192.168.88.13
    shortname: nuc03
    sshuser: root
    self_org: false
    proxmox: true
    macaddress: "48:21:0b:5f:b3:d7"
  - hostname: nuc04.hayaworld.home
    interface: enp86s0
    ipv4: 192.168.88.14
    shortname: nuc04
    sshuser: root
    self_org: false
    proxmox: true
    macaddress: "48:21:0b:5f:af:f5"
  - hostname: nuc05.hayaworld.home
    interface: enp86s0
    ipv4: 192.168.88.15
    shortname: nuc05
    sshuser: root
    self_org: false
    proxmox: true
    macaddress: "00:e2:59:00:54:da"
  - hostname: rui.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.100
    shortname: rui
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: bluray.hayaworld.home
    interface: none
    ipv4: 192.168.88.101
    shortname: bluray
    sshuser: none
    self_org: false
    mtu: 9000
  - hostname: origin.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.102
    shortname: origin
    sshuser: hayato
    self_org: true
    mtu: 9000
  - hostname: console.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.105
    shortname: console
    sshuser: hayato
    self_org: true
    mtu: 9000
  - hostname: runner03.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.108
    shortname: runner03
    sshuser: runner
    self_org: true
    mtu: 9000
  - hostname: log.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.109
    shortname: log
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: runner04.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.110
    shortname: runner04
    sshuser: runner
    self_org: true
    mtu: 9000
  - hostname: scanner.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.113
    shortname: scanner
    sshuser: hayato
    self_org: true
    mtu: 9000
  - hostname: tsgw1.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.114
    shortname: tsgw1
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: tsgw2.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.115
    shortname: tsgw2
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: qd.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.116
    shortname: qd
    sshuser: hayato
    self_org: true
    mtu: 9000
  - hostname: subtitle.hayaworld.home
    interface: none
    ipv4: 192.168.88.117
    shortname: subtitle
    sshuser: hayato
    self_org: true
    mtu: 9000
  - hostname: runner01.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.118
    shortname: runner01
    sshuser: runner
    self_org: true
    mtu: 9000
  - hostname: runner02.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.119
    shortname: runner02
    sshuser: runner
    self_org: true
    mtu: 9000
  - hostname: runner05.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.120
    shortname: runner05
    sshuser: runner
    self_org: true
    mtu: 9000
  - hostname: diskmon.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.121
    shortname: diskmon
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: iso.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.122
    shortname: iso
    sshuser: ansible
    self_org: true
    mtu: 9000
  - hostname: ds.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.123
    shortname: ds
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: zabbix.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.124
    shortname: zabbix
    sshuser: hayato
    self_org: true
    mtu: 9000
  - hostname: terminal.hayaworld.home
    interface: enx6c1ff7023273
    ipv4: 192.168.88.130
    shortname: terminal
    sshuser: ansible
    self_org: true
    mtu: 9000
  - hostname: mai.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.150
    shortname: mai
    sshuser: root
    self_org: true
    mtu: 9000
  - hostname: skylark.hayaworld.home
    interface: enp6s18
    ipv4: 192.168.88.200
    shortname: skylark
    sshuser: hayato
    self_org: false
    mtu: 9000
  - hostname: haccho02.hayaworld.home
    interface: none
    ipv4: 192.168.88.253
    shortname: haccho
    sshuser: hayato
    self_org: false
  - hostname: haccho01.hayaworld.home
    interface: none
    ipv4: 192.168.88.254
    shortname: haccho
    sshuser: hayato
    self_org: false

network_dhcp:
  macbook:
    hostname: HayabookAir2023.hayaworld.home
    shortname: HayabookAir2023

subnet:
  mask: 24
  gw4: 192.168.88.1
  dns4:
    - 192.168.88.100
    - 192.168.88.150
  search:
    - hayaworld.home
  routes:
    - to: default
      via: 192.168.88.1
  mtu: 9000

outer_dns_servers:
  ipv4: "202.232.2.3"
  ipv6: "2001:240::13"
