---
apt:
  - curl
  - dstat
  - emacs
  - git
  - htop
  - nfs-common
  - openssh-server
  - qemu-guest-agent
  - qemu-guest-agent-desktop
  - samba-common
  - vim
  - zsh

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"
