---
apt:
  - htop

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "Runner Docker ssh"
        proto: "tcp"
        src: "172.17.0.0/16"
        port: "22"
      - name: "Corosync Quorum for Proxmox on service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '5403'
      - name: "APC UPS master (TCP)"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '3551'
      - name: "APC UPS master (UDP)"
        proto: "udp"
        src: "192.168.88.0/24"
        port: '3551'
      - name: "Zabbix from Zabbix-server"
        proto: "tcp"
        src: "192.168.88.106/24"
        port: "10050"
      - name: "SNMPv2 Walk"
        proto: "udp"
        src: "192.168.88.0/24"
        port: '161'
      - name: "SNMPv2 Trap"
        proto: "udp"
        src: "192.168.88.0/24"
        port: '162'
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"

zramswap:
  algo: lz4
  percent: 50

ups:
  role: master

rsyslog:
  rsyslog_client_additional_actions: |
    if $programname startswith 'snmpd' then {
      if ($msg contains '192.168.88.124') then {
          stop
      }
    }
