---
apt:
  - bind9-dnsutils
  - cifs-utils
  - curl
  - dstat
  - git
  - golang
  - gprename
  - htop
  - imagemagick
  - jq
  - nfs-common
  - nvme-cli
  - openssh-server
  - openssl
  - p7zip-full
  - poppler-utils
  - python3-pip
  - rsync
  - samba-common
  - sshpass
  - vim
  - vlc
  - whois
  - zsh

gui_additional_packages:
  - bleachbit
  - emacs
  - gimp
  - heif-thumbnailer
  - libheif1
  - thunderbird
  - wireshark

remove:
  - firefox
  - rhythmbox

services_start:
  - docker
  - ssh

firewall:
  policy: deny
  allow_rules:
    ipv4:
      - name: "SSH from service line"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: '22'
      - name: "Packer HTTP server"
        proto: "tcp"
        src: "192.168.88.0/24"
        port: "8000"
    ipv6:
      - name: "DHCPv6 Client from service line"
        proto: "udp"
        src: "::"
        port: "546"

zramswap:
  algo: lz4
  percent: 50

docker_config:
  storage-driver: "btrfs"
  default-address-pools:
    - base: "172.18.2.0/24"
      size: 28
  dns:
    - 192.168.88.100
    - 192.168.88.150

docker_btrfs: true
