conf-dir=/etc/dnsmasq.d,*.conf

domain={{ dnsmasq.domain }}
local={{ dnsmasq.local }}

listen-address={{ dnsmasq.listen_address }}
interface={{ dnsmasq.interface }}

cache-size={{ dnsmasq.dns.cache_size }}
dhcp-sequential-ip

resolv-file=/etc/dnsmasq.d/resolv.txt

# IPv4 NGN Forwarding
server=/flets/123.107.190.7
server=/v4flets-east.jp/123.107.190.7
server=/speed.flets/123.107.190.7

#log-queries
log-dhcp
log-facility={{ dnsmasq.logs.log_facility }}
