interface {{ dnsmasq.interface }} {
  AdvHomeAgentFlag off;
  AdvManagedFlag off;
  AdvOtherConfigFlag on;
  AdvSendAdvert on;
  MaxRtrAdvInterval 100;
  MinRtrAdvInterval 30;

  prefix {{ ipv6.ula.prefix }}::/64 {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr off;
  };

};
