interface {{ dnsmasq.interface }} {
  AdvDefaultLifetime 0;
  AdvHomeAgentFlag off;
  AdvManagedFlag off;
  AdvOtherConfigFlag on;
  AdvSendAdvert on;
  MaxRtrAdvInterval 100;
  MinRtrAdvInterval 30;

  prefix {{ ipv6.ula.prefix }}::/64 {
    AdvOnLink on;
    AdvAutonomous on;
    AdvRouterAddr off;
  };

  RDNSS {{ dnsmasq.ipv6.dns6_server_self }} {{ dnsmasq.ipv6.dns6_server_other }} {
    AdvRDNSSLifetime 100;
  };

  DNSSL {{ dnsmasq.domain }} {
    FlushDNSSL on;
  };

};
