[wasabi-skylark]
type = s3
provider = Wasabi
access_key_id = {{ all.vars.wasabi.access_key_id }}
secret_access_key = {{ all.vars.wasabi.secret_access_key }}
endpoint = {{ all.vars.wasabi.endpoint }}
acl = private
env_auth = false
