totem {
    version: 2
    cluster_name: dnsservers
    transport: knet
    crypto_cipher: aes256
    crypto_hash: sha256
    cluster_uuid: aa6a9233b5eb4258861bb0da44cca948
}

nodelist {
    node {
        ring0_addr: {{ dns_cluster_01_ipv4 }}
        name: {{ dns_cluster_01_ipv4 }}
        nodeid: 1
    }

    node {
        ring0_addr: {{ dns_cluster_02_ipv4 }}
        name: {{ dns_cluster_02_ipv4 }}
        nodeid: 2
    }

    node {
        ring0_addr: {{ dns_cluster_03_ipv4 }}
        name: {{ dns_cluster_03_ipv4 }}
        nodeid: 3
    }

}

quorum {
    provider: corosync_votequorum
    two_node: 1
}

logging {
    to_logfile: yes
    logfile: /var/log/corosync/corosync.log
    to_syslog: yes
    timestamp: on
}
